<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <File name="searchFile" fileName="logs/search.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="inputErrorFile" fileName="logs/input_errors.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="exceptionFile" fileName="logs/exceptions.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="searchFile"/>
            <appender-ref ref="inputErrorFile"/>
            <appender-ref ref="exceptionFile"/>
        </root>
    </loggers>
</configuration>